.right-side{
    background-image: url("../image/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 20px;
    z-index: 1;

}